{{#partial "content"}}
    <h3>{{thisTeam.teamName}}</h3>
    <p>{{thisTeam.teamDescription}}</p>>
    {{#if members}}
        <ul>
            <div class="well">
                {{#each members}}
                    <li><a href="/teams/{{memberId}}/members/{{id}}">{{name}}:</a></li>
                {{/each}}
            </div>
        </ul>
        <a href="/members/new" class="btn btn-success">Add a new team mate!</a>
    {{else}}
        <a href="/members/new" class="btn btn-success">Add a new team mate!</a>
    {{/if}}

    <a class="btn btn-warning" href="/teams/{{thisTeam.id}}/delete">Delete Team</a>

{{/partial}}

{{> layout.hbs}}