{{#partial "content"}}
    <h3>{{thisTeam.teamName}}<a href="/teams/{{thisTeam.id}}/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></h3>
    <blockquote><p>{{thisTeam.teamDescription}}</p></blockquote>
    {{#if members}}
        <ul>
            <div class="well">
                {{#each members}}
                    <li><a href="/teams/{{teamId}}/members/{{id}}">{{name}}:</a></li>
                {{/each}}
            </div>
        </ul>
        <a href="/members/new" class="btn btn-success">Add a new team mate!</a>
    {{else}}
        <a href="/members/new" class="btn btn-success">Add a new team mate!</a>
    {{/if}}

    <a class="btn btn-warning" href="/teams/{{thisTeam.id}}/delete">Delete Team</a>

{{/partial}}

{{> layout.hbs}}